/* generics */
 * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
 }

section {
  min-height: 200px;
}


/* utilities */

/* [class*="col"] {
    border: 1px solid red;
  } */

.ms-bg-darkgrey{
    background-color: #2c3e50;
}

#profile, 
#about{
    background-color: #1cbb9c;
    color: white;
}


.ms-direction-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sm-btn-greenwater{
    background-color: #1cbb9c;
    color: white;
}

#ms-wid{
    width: 200px;
}

#info-footer{
    background-color: #3a546d;
    color: white;
}

.sm-small-font{
    font-size: 13px;
}

#copyright{
    background-color: #2c3e50;
    color: white;
}